{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}"
    <title>Hindi.com</title>
</head>

<body>
    {% block content %}
    <section>
        <h2><br>인도학과 홈페이지에 오신 것을 환영합니다.</h2>
        <h4><br>인도학과에서는 인도의 주 사용언어인 힌디어 뿐만 아니라 지역학 과목을 함께 공부하여 인도 지역 전문가 양성을 목표로 합니다</h4>
        <br>
        <ul>
            <li><img scr="images/" alt="7+1 program">Delhi 대학과의 7+1 프로그램</li>
            <li><img scr="images/" alt="방학 집중연수 프로그램">J.NU 대학과의 방학 집중연수 프로그램
                <li>
                    <li><img scr="images/" alt="특수외국어 진흥 사업">특수외국어진흥 지원 사업</li>
                    <li><img scr="images/" alt="다양한 학과 활동">다양한 학과 활동</li>
                </ul>
            </section>
            <div>
                <li><img scr="images/" alt="교수진 소개">교수진 소개</li>
                <li><img scr="images/" alt="교과 과정">교과 과정</li>
                <li><img scr="images/" alt="신입생 장학제도">신입생 장학제도ㅋㅋㅋㅋ</li>
            </div>
            
            
        </body>
    {% endblock%}
        
</html>