{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indian Studies Website</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;400&display=swap" rel="stylesheet">
    <meta name="description" content="Indian Studies Website">
    <meta name="author" content="Dohui, Gangmin, Jungmin">
    <!--icon 삽입시, css삽입시  link삽입하기 <link rel="icon">-->
</head>

<body id="body">
    <span><a class="home_link" href="./templates/home/index.html">
            WE<br>ARE<br>INDIAN STUDIES</a></span>
    <span><a style="font-size: 24px"></a>한국외국어대학교 인도학과</span>
    <span class="login_link">
        <h2 element id="login">
            <a class="login_link" href="./templates/login/login.html"
                style="color: black; text-decoration-line:none;">Login</a>
        </h2>
    </span>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Introdction</a></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Community</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Admisstion</a>
                    </li>
            </div>
        </div>
    </nav>
    <img id=mainpage-image src="{% static 'images/mainpage.png' %}">
    <p>Welcome to Indian Studies!</p>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="footer-container">
            <div class="footer-container-content">
                <div style="padding-bottom: 15px">
                    &copy; COPYRIGHT © 2021 HUFS Indian Studies ALL RIGHT
                    RESERVED<br />dohui-ko, KKM, jungmin-lee Korea<br />
                    Contact us : ksder99@naver.com, cu4149@naver.com, luke127@naver.com
                </div>
            </div>
        </div>
    </footer>
</body>