{% extends 'base.html' %}
{% load static %}

<body>
{% block content %}
    <div class="introduction-content-boxing">
        <aside class=introduction-aside>
            <ul class="introduction-aside-list">
                <li class="introduction-aside-list-title"><strong>커뮤니티</strong></li>
                <li class="introduction-aside-list-text"><a href="#"></a>인사말</li>
                <li class="introduction-aside-list-text"><a href="#"></a>학부비전</li>
                <li class="introduction-aside-list-text"><a href="#"></a>교수진</li>
                <li class="introduction-aside-list-text"><a href="#"></a>졸업 후 진로</li>
                <li class="introduction-aside-list-text"><a href="#"></a>공지사항</li>
                <li class="introduction-aside-list-text"><a href="#"></a>장학제도</li>
                <li class="introduction-aside-list-text"><a href="#"></a>학과 갤러리</li>
                <li class="introduction-aside-list-text"><a href="#"></a>자유게시판</li>
                <li class="introduction-aside-list-text"><a href="#"></a>학생 자치 활동<br>(학회 소개)</li>
                <li class="introduction-aside-list-text"><a href="#"></a>입학 안내</li>
                <li class="introduction-aside-list-text"><a href="#"></a>학교 홈페이지</li>
            </ul>
            <div class="community-notice-board">
                <img>
                <h3 class="community-notice-board-title">▒공지사항▒</h3>
                <table class="community-notice-board-content">
                    <tr>
                        <td>작성자</td>
                        <td>제목</td>
                        <td>날짜</td>
                        <td>조회수</td>
                    </tr>
                    <tr>
                        <td>인도학과 조교</td>
                        <td>2021-2 FLEX힌디어 시험 응시 안내</td>
                        <td>2021-11-10</td>
                        <td>18</td>
                    </tr>
                    <tr>
                        <td>인도학과 조교</td>
                        <td>특교원 프로그램 신청 안내</td>
                        <td>2021-11-08</td>
                        <td>23</td>
                    </tr>
                    <tr>
                        <td>인도학과 수직생</td>
                        <td>인도 지역전문가 특강 안내</td>
                        <td>2021-11-04</td>
                        <td>31</td>
                    </tr>
                    <tr>
                        <td>인도학과 조교</td>
                        <td>고급 힌디어 회화작문 수강생 모집 안내</td>
                        <td>2021-11-01</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>인도학과 수직생</td>
                        <td>국제지역대학 행사 안내</td>
                        <td>2021-11-01</td>
                        <td>28</td>
                    </tr>
                    <tr>
                        <td>인도학과 조교</td>
                        <td>비대면 수업 관련 공지</td>
                        <td>2021-10-28</td>
                        <td>41</td>
                    </tr>
                    <tr>
                        <td>인도학과 과회장</td>
                        <td>제18회 인도학과 학생회장 선거 안내</td>
                        <td>2021-10-20</td>
                        <td>39</td>
                    </tr>
                    <tr>
                        <td>홍보차장</td>
                        <td>인도학과 간식행사 안내</td>
                        <td>2021-10-6</td>
                        <td>44</td>
                    </tr>
                    <tr>
                        <td>행정부장</td>
                        <td>중간고사 기간 안내</td>
                        <td>2021-9-21</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>홍보차장</td>
                        <td>인도학과 행사 사진 공모</td>
                        <td>2021-9-05</td>
                        <td>22</td>
                    </tr>
                </table>
                <table class="page-nator">
                    <tr>
                        <td><strong>1</strong></td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                </table>
            </div>
        </aside>
    </div>
{% endblock%}
</body>
