{% extends 'base.html' %}
{% load static %}

<body>
    {% block content %}
    <section class=home-article>
        <div class="home-article-welcome"><br>인도학과 홈페이지에 오신 것을 환영합니다.</div>
        <div class="home-article-text"><br>인도학과에서는 인도의 주     사용언어인 힌디어 뿐만 아니라 지역학 과목을 함께 공부하여 인도 지역 전문가 양성을 목표로 합니다</div>
        <br>
        <ul class=home-article-content>
            <div class="article-listing">
                <li><img class="home-article-content-images" src="{% static 'images/delhiuniv.png' %}">
                    <p><a class="article-title" href="http://www.du.ac.in/">Delhi 대학과의 7+1 프로그램</a></p>
                </li>
            </div>
            <div class="article-listing">
                <li><img class="home-article-content-images" src="{% static 'images/JNU.jpg' %}">
                    <p><a class="article-title" href="https://www.jnu.ac.in/">J.NU 대학과의 방학 집중연수 프로그램</a></p>
            </div>
            <div class="article-listing">
                <li><img class="home-article-content-images" src="{% static 'images/CFL.jpg' %}">
                    <p><a class="article-title" href="http://cfl.ac.kr/">특수외국어진흥 지원 사업</a></p>
                </li>
            </div>
            <div class="article-listing">
                <li><img class="home-article-content-images" src="{% static 'images/indiarea.png' %}">
                    <p><a class="article-title" href="http://www.hufs.ac.kr/user/hufsindia">다양한 학과 활동</a></p>
                </li>
            </div>
        </ul>
        <div class="work__projects">
            <a href="#" class="project" target="blank">
                <img class="project__imgs" src="{% static 'images/교수진.jpg' %}" alt="교수진">
                <div class="project__description">
                    <h4>교수진 소개</h4>
                    <span>전문 교수님들과 인도를 학습합니다.</span>
                </div>
            </a>
            <a href="#" class="project" target="blank">
                <img class="project__imgs" src="{% static 'images/교과과정.jpg' %}" alt="교과과정">
                <div class="project__description">
                    <h4>교과 과정</h4>
                    <span>인도학과는 인도 언어와 지역학을 학습하여 인도전문가를 양성합니다.</span>
                </div>
            </a>
            <a href="#" class="project" target="blank">
                <img class="project__imgs" src="{% static 'images/장학제도.jpg' %}" alt="장학제도">
                <div class="project__description">
                    <h4>신입생 장학제도</h4>
        <div class="grid-container">
            <ul class=home-article-content>
                <div class="image-listing">
                    <li><img class="home-article-content-images" href="http://www.du.ac.in/"
                            src="{% static 'images/delhiuniv.png' %}">
                        <p><a class="article-title" href="http://www.du.ac.in/">Delhi 대학과의 7+1 프로그램</a></p>
                    </li>
                </div>
                <div class="image-listing">
                    <li><img class="home-article-content-images" href="https://www.jnu.ac.in/"
                            src="{% static 'images/JNU.jpg' %}">
                        <p><a class="article-title" href="https://www.jnu.ac.in/">J.NU 대학과의 방학 집중연수 프로그램</a></p>
                </div>
                <div class="image-listing">
                    <li><img class="home-article-content-images" href="http://cfl.ac.kr/"
                            src="{% static 'images/CFL.jpg' %}">
                        <p><a class="article-title" href="http://cfl.ac.kr/">특수외국어진흥 지원 사업</a></p>
                    </li>
                </div>
                <div class="image-listing">
                    <li><img class="home-article-content-images" href="http://www.hufs.ac.kr/user/hufsindia"
                            src="{% static 'images/indiarea.png' %}">
                        <p><a class="article-title" href="http://www.hufs.ac.kr/user/hufsindia">다양한 학과 활동</a></p>
                    </li>
                </div>
            </ul>
        </div>
        <hr>
        <div class="home-article-content-link">
            <a href="{% static 'images/professor.jpg' %}" class="project" target="blank">
                <img class="project__imgs" src="{% static 'images/professor.jpg' %}" alt="교수진">
                <div class="project__description">
                    <h3>교수진 소개</h3>
                    <span>각 과목 전문 교수진을 소개합니다.</span>
                </div>
            </a>
            <a href="https://github.com/Hindi-com/IndianStudies.Github.io.git" class="project" target="blank">
                <img class="project__imgs" src="{% static 'images/books.jpg' %}" alt="교과과정">
                <div class="project__description">
                    <h3>교과과정</h3>
                    <span>인도학과는 힌디어와 지역학을 학습을 통해 인도 전문가를 양성합니다.</span>
                </div>
            </a>
            <a href="http://www.hufs.ac.kr/user/hufsindia" class="project" target="blank">
                <img class="project__imgs" src="{% static 'images/money,book.jpg' %}" alt="신입생 장학제도">
                <div class="project__description">
                    <h3>신입생 장학제도</h3>
                    <span>신입생 장학제도에 대해 안내합니다.</span>
                </div>
            </a>
        </div>
    </section>
    {% endblock%}
</body>