{% extends 'base.html' %}
{% load static %}

<body>
    {% block content %}
    <section class=home-article>
        <div class="home-article-welcome"><br>인도학과 홈페이지에 오신 것을 환영합니다.</div>
        <div class="home-article-text"><br>인도학과에서는 인도의 주 사용언어인 힌디어 뿐만 아니라 지역학 과목을 함께 공부하여 인도 지역 전문가 양성을 목표로 합니다</div>
        <br>
        <ul class=home-article-content>
            <div class="article-listing">
                <li><img class="home-article-content-images" src="{% static 'images/delhiuniv.png' %}">
                    <p><a class="article-title" href="http://www.du.ac.in/">Delhi 대학과의 7+1 프로그램</a></p>
                </li>
            </div>
            <div class="article-listing">
                <li><img class="home-article-content-images" src="{% static 'images/JNU.jpg' %}">
                    <p><a class="article-title" href="https://www.jnu.ac.in/">J.NU 대학과의 방학 집중연수 프로그램</a></p>
            </div>
            <div class="article-listing">
                <li><img class="home-article-content-images" src="{% static 'images/CFL.jpg' %}">
                    <p><a class="article-title" href="http://cfl.ac.kr/">특수외국어진흥 지원 사업</a></p>
                </li>
            </div>
            <div class="article-listing">
                <li><img class="home-article-content-images" src="{% static 'images/indiarea.png' %}">
                    <p><a class="article-title" href="http://www.hufs.ac.kr/user/hufsindia">다양한 학과 활동</a></p>
                </li>
            </div>
        </ul>
        <ul class=home-article-content-link>
            <li><img scr="images/" alt="교수진 소개">교수진 소개</li>
            <li><img scr="images/" alt="교과 과정">교과 과정</li>
            <li><img scr="images/" alt="신입생 장학제도">신입생 장학제도ㅋㅋㅋㅋ</li>
        </ul>
    </section>
    {% endblock%}
</body>