{% extends 'base.html' %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/introduction.css' %}">
</head>

<body>
{% block content %}
    <aside class=introduction-aside>
        <ul>
            <li class="introduction-aside-list"><strong>학부소개</strong></li>
            <li class="introduction-aside-list"><a href="#"></a>인사말</li>
            <li class="introduction-aside-list"><a href="#"></a>학부비전</li>
            <li class="introduction-aside-list"><a href="#"></a>교수진</li>
            <li class="introduction-aside-list"><a href="#"></a>졸업 후 진로</li>
            <li class="introduction-aside-list"><a href="#"></a>공지사항</li>
            <li class="introduction-aside-list"><a href="#"></a>장학제도</li>
            <li class="introduction-aside-list"><a href="#"></a>학과 갤러리</li>
            <li class="introduction-aside-list"><a href="#"></a>자유게시판</li>
            <li class="introduction-aside-list"><a href="#"></a>학생 자치 활동(학회 소개)</li>
            <li class="introduction-aside-list"><a href="#"></a>입학 안내</li>
            <li class="introduction-aside-list"><a href="#"></a>학교 홈페이지</li>
        </ul>
    </aside>
    <div>
        <img>
        <h3>▒인사말▒</h3>
        <p>안녕하십니까. 학생여러분들? 어쩌구 저쩌구</p>
    </div>
{% endblock%}
</body>