:root {
    /*color*/
    --color-white: #ffffff;
    --color-grey: #616161;
    --color-black: #000000;
    --color-orange: #feb546;

    /*font sizes*/
    --font-large: 32px;
    --font-mediun: 24px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /*Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /*size*/
    --size-border-radius: 4px;

    /*Animation */
    --animation-duration: 250ms;
}

#body{
    font-family: 'Hahmlet', serif;
}

#login {
    font-size: var(--font-mediun);
    float: right;
}