<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indian Studies Website</title>
    <meta name="description" content="Indian Studies Website">
    <meta name="author" content="Dohui, Gangmin, Jungmin">
    <!--icon 삽입시, css삽입시  link삽입하기 <link rel="icon">-->

    <link rel="stylesheet" href="./bootstrap4/css/bootstrap.min.css" type="text/css" />
</head>

<body>

    <!--header-->
    <header id="header">
        <div class="header__logo">
            <span>
                <h1>
                    WE<br>ARE<br>INDIAN STUDIES</h1>
                <h3>한국외국어대학교 인도학과</h3>
            </span>
        </div>
        <div class="header__login">
            <h2><a class="login_link" href="login.html">Login</a></h2>
        </div>
    </header>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Introduction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Community</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Admission</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <aside id=aside>
        <ul>
            <li class="aside__menu__item"><strong>커뮤니티</strong></li>
            <li class="aside__menu__item"><a href="#"></a>공지사항</li>
            <li class="aside__menu__item"><a href="#"></a>학과갤러리</li>
            <li class="aside__menu__item"><a href="#"></a>자유게시판</li>
            <li class="aside__menu__item"><a href="#"></a>학생자치활동<br>(학회 소개)</li>
            <li class="aside__menu__item"><a href="#"></a>인사말</li>
            <li class="aside__menu__item"><a href="#"></a>학부비전</li>
            <li class="aside__menu__item"><a href="#"></a>졸업 후 진로</li>
            <li class="aside__menu__item"><a href="#"></a>장학제도</li>
            <li class="aside__menu__item"><a href="#"></a>교수진</li>
            <li class="aside__menu__item"><a href="#"></a>입학 안내</li>
            <li class="aside__menu__item"><a href="#"></a>학교 홈페이지</li>
        </ul>
    </aside>
    <footer>
        <div class="footer-container">
            <h3>웹페이지 제작자: 고도희 김강민 이정민</h3>
        </div>
    </footer>
</body>

</html>