.introduction-aside-list {
    list-style: none;
    box-sizing: border-box;
    background-color: thistle;
}

.introduction-aside-list-title {
    font-size: var(--font-mediun);
    padding: 1rem;
}

.introduction-aside-list-text {
    font-size: var(--font-regular);
    padding: 0.5rem;
    box-sizing: border-box;
    background-color: var(--color-light-white);
}