:root {
    /*color*/
    --color-white: #ffffff;
    --color-grey: #616161;
    --color-black: #000000;
    --color-orange: #feb546;

    /*font sizes*/
    --font-large: 32px;
    --font-mediun: 24px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /*Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /*size*/
    --size-border-radius: 4px;

    /*Animation */
    --animation-duration: 250ms;
}

#body{
    font-family: 'Hahmlet', serif;
}

#login {
    font-size: var(--font-mediun);
    float: right;
}

#mainpage-image {
    width: 100em;
    height: 25em;
}

.home-article-content {
    list-style: none;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-auto-rows: mininum(500px, auto);
    grid-gap: 1rem;
}

.home-article-content-link {
    list-style: none;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

.home-article-welcome {
    font-size: var(--font-mediun);
    margin-left: 5rem;
}

.home-article-text {
    font-size: var(--font-small);
    margin-left: 3rem;
    margin-bottom: 5rem;
}

.home-article-content-images {
    width: 20rem;
    height: 15rem;
}

@media (hover: none) { 
    .location-title {
        opacity: 1;
    }
    .location-image img {
        filter: blur(2px);
    }
}