<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indian Studies Website</title>
    <meta name="description" content="Indian Studies Website">
    <meta name="author" content="Dohui, Gangmin, Jungmin">
    <!--icon 삽입시, css삽입시  link삽입하기 <link rel="icon">-->
</head>

<body>
    {% block contents %}
    {% endblock %}
    <!--header-->
    <header id="header">
        <div class="header__logo">
            <h1>WE<br>ARE<br>INDIAN STUDIES</h1>
            <h3>한국외국어대학교 인도학과</h3>
        </div>
        <div class="header__login">
            <h2>Login</h2>
        </div>
        <div>
            <nav id="navbar">
                <ul class="" navbar__menu>
                    <li class="navbar__menu__item"><a href="#">홈</a></li>
                    <li class="navbar__menu__item"><a href="#">소개</a></li>
                    <li class="navbar__menu__item"><a href="#">커뮤니티</a></li>
                    <li class="navbar__menu__item"><a href="#">입학처</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <footer>
        <div class="footer-container">
            <h3>웹페이지 제작자: 고도희 김강민 이정민</h3>
        </div>
    </footer>
</body>

</html>